.jumbotron {
  padding-top: 6rem;
  background-color: #f5dfb8;
}

#projects {
  background-color: #f5dfb8;
}
section {
  padding-top: 5rem;
}
/*my logo section */
.logo-box {
  position: relative;
  background-color: #ff9100;
  border-radius: 10px;
  width: 280px;
  height: 400px;
  margin-top: 50x;
  margin-left: 30px;
  transform-style: preserve-3d;
}

.logo-box::before {
  content: "LOGO";
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 500px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
}
.logo-box:hover::before {
  opacity: 0.8;
}

.logo-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}
.logo-box:hover .logo-name {
  top: 10px;
  opacity: 1;
}
.logo-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}
.logo-box:hover .logo-detail-button {
  opacity: 1;
  bottom: 50px;
}
.logo-img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -55%, 100px);
  max-width: 200px;
  transition: 0.5s;
}
.logo-box:hover .logo-img {
  transform: translate3d(-50%, -53%, 100px) rotate(10deg) scale(1.2);
}
